<%= form_for(@game) do |f| %>
	
	<% if @game.errors.any? %>
		<div id="error_explanation">
			<ul>
			<% @game.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.text_field :name, placeholder: "Game Name" %><br/>
	<%= f.text_field :player_1, placeholder: "Player 1" %><br/>
	<%= f.text_field :player_2, placeholder: "Player 2" %><br/>
  <%= f.submit %>
<% end %>