<h4>New Player</h4>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with model: @player do |form| %>
	
	<% if @player.errors.any? %>
		<div id="error_explanation">
			<ul>
			<% @player.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

  <div><%= form.text_field :name, placeholder: "Player Name" %></div>
  <div><%= form.password_field :password, placeholder: "Password" %></div>
  <div><%= form.password_field :password_confirmation, placeholder: "Confirm Password" %></div>
  <%= form.submit %>
<% end %>

<h6><%= link_to "Back", players_path %></h6>